.Academic {
    
    &--title {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 1.5rem;
    }

    &--list {
        list-style: none;
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    &--item {
        box-shadow: 0rem 0rem 1.3rem 0rem rgba(245,245,245,1);
        border-radius: 0.3rem;
    }

    &--item:hover {
        background-color: #F5F5F5;
    }

    &--image {
        width: 100%;
        padding: 1rem 1rem 0 1rem;
    }

    &--description {
        display: flex;
        gap: 1.5rem;
        align-items: center;
        padding: 1rem;
    }

    &--icon {
        height: 3.5rem;
    }

    &--text {
        font-size: 1.6rem;
        font-weight: bold;
    }

    &--text__title {
        font-size: 1.8rem;
        font-weight: bold;
    }
}

@media (min-width: 500px) {
    .Academic--list {
        grid-template-columns: 1fr 1fr;
    }
}