.Header {
    background-color: #F5F5F5;
    border-radius: 20px;
    padding: 20px;

    &--h1 {
        font-size: 40px;
        color: #00a6eb;
    }
    
    &--p {
        font-size: 16px;
        border-left: 2px solid #00a6eb;
        padding-left: 20px;
    }
}