.TitleContainer {
    background-color: #F5F5F5;
    border-radius: 2rem;
    padding: 2rem;

    &--title {
        font-size: 4rem;
        color: #00a6eb;
    }
    
    &--text {
        font-size: 1.7rem;
        border-left: 0.2rem solid #00a6eb;
        padding-left: 2rem;
    }
}