.Web {

    &--title {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 1.5rem;
    }

    &--list {
        list-style: none;
        font-size: 1.6rem;
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    &--card {
        background-color: #F5F5F5;
        display: flex;
        align-items: center;
        gap: 2rem;
        padding: 1rem 2rem;
        border-radius: 1.5rem;
    }

    &--icon {
        height: 5rem;
    }

    &--text__bold {
        font-weight: bold;
    }

    &--text__course {
        font-size: 1.8rem;
        font-weight: bold;
    }
    
    &--link {
        color: #00a6eb;
    }
}

@media (min-width: 650px) {

    .Web--list {
        grid-template-columns: 1fr 1fr;
    }
}