.Web {

    &--title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    &--list {
        list-style: none;
        font-size: 16px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    &--card {
        background-color: #F5F5F5;
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 10px 20px;
        border-radius: 15px;
    }

    &--icon {
        height: 50px;
    }

    &--text {
    }

    &--text__bold {
        font-weight: bold;
    }

    &--text__course {
        font-size: 18px;
        font-weight: bold;
    }
    
    &--link {
        color: #00a6eb;
    }
}

@media (min-width: 650px) {
    .Web--list {
        grid-template-columns: 1fr 1fr;
    }
    .Web--card {
    }
}

// .Web {

//     &--title {
//         font-size: 20px;
//         font-weight: bold;
//         margin-bottom: 10px;
//     }

//     &--list {
//         list-style: none;
//         display: flex;
//         flex-direction: column;
//         gap: 15px;
//         font-size: 16px;
//         justify-content: start;
//         flex-wrap: nowrap;
//     }

//     &--card {
//         background-color: #F5F5F5;
//         display: flex;
//         align-items: center;
//         gap: 20px;
//         padding: 10px 20px;
//         border-radius: 15px;
//     }

//     &--icon {
//         height: 50px;
//     }

//     &--text {
//     }

//     &--text__bold {
//         font-weight: bold;
//     }

//     &--text__course {
//         font-size: 18px;
//         font-weight: bold;
//     }
    
//     &--link {
//         color: #00a6eb;
//     }
// }

// @media (min-width: 500px) {
//     .Web--list {
//         display: flex;
//         flex-direction: row;
//         flex-wrap: wrap;
//         justify-content: start;
//     }
//     .Web--card {
//         width: 48.7%;
//     }
// }