.Header {
    width: 100%;
    box-shadow: 0 0 1.3rem 0 rgba(245,245,245,1);
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;

    &--separator {
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }

    &--image {
        height: 3.5rem;
    }

    &--text {
        font-size: 1.8rem;
        display: none;
    }

    &--list {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        list-style: none;
    }
    
    &--link {
        font-family: 'Dosis', sans-serif;
        font-size: 1.8rem;
        padding: 0.5rem;
        border-radius: 0.8rem;
        background-color: #FFFFFF;
        border: solid 0.1rem #FFFFFF;
        text-decoration: none;
    }

    &--link__active {
        color: #00a6eb;
        border: solid 0.1rem #00a6eb;
    }

    &--link__pending {
        color: #00a6eb;
    }

    &--link__inactive {
        color: black;
    }
}

@media (min-width: 490px) {

    .Header--text {
        display: block;
    }

    .Header--image {
        height: 3rem;
    }
}