.Certificates {
    
    &--title {
        font-size: 2.4rem;
        color: #00a6eb;
        margin-bottom: 1rem;
    }

    &--container {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
}