.Slider {
    width: 100%;
    overflow-x: hidden;

    &--track {
        display: flex;
        width: calc(25rem * 22);
        animation: scroll 40s linear infinite;
    }

    &--item {
        background-color: #F5F5F5;
        width: 25rem;
        height: 10rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        border-radius: 1.5rem;
        margin: 0 1rem;
    }

    &--img {
        height: 4.3rem;
    }
    
    &--p {
        font-size: 2.7rem;
        font-weight: bold;
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-25rem * 11));
    }
}

@media (min-width: 1000px) {
    .Slider--track:hover {
        animation-play-state: paused;
    }
}